@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}
.container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    transform-style: preserve-3d;
    width:30rem;
    min-height: 80vh;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    padding:0rem 5rem;
    border-radius: 30px;

}
.sneakers{
    min-height: 35vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.sneakers img{
    width:25rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle{
    width:13rem;
    height:13rem;
    border-radius: 50%;
    background:linear-gradient(
        to right,
        rgba(243, 7, 7, 0.76),
        rgba(245, 237, 237, 0.76)
    );
    position: absolute;
    z-index: 1;
   
}
.info h2{
    font-size: 3rem;
    transition: all 0.75s ease-out;
}
.info h4{
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color:#585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}
.sizes{
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
}
.sizes button{
    padding:0.5rem 1.5rem;
    background:none;
    border:none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    color:red;
    cursor:pointer;
    transition: all 0.75s ease-out;
}
button.active{
    background:red;
    color:#fff;
}
.purchase{
    margin-top:4rem;
    transition: all 0.75s ease-out;
}
.purchase button{
    width:100%;
    padding:1rem 0rem;
    background:crimson;
    color:#fff;
    border:none;
    border-radius: 30px;
    font-weight: bolder;
}